:root {
   --color-neutral-lighter:#f3e8f3;
   --color-neutral-light:#c1b4bf;
   --color-neutral-medium:#7f757e;
   --color-neutral-dark:#494348;
}


body {
   background-color:#f8f8fa;
   padding-bottom: 10em;
}


/* PRODUCT IN LIST */
.product {
   margin:0;
   /*padding:1em;*/
   box-shadow:0 0 10px rgba(0,0,0,0.1);
   border-radius:1em;
   position:relative;
   overflow:hidden;
   background-color:white;
   display:inline-block;
   transition:all 0.3s;
   font-weight:normal;
}
.product:hover {
   text-decoration:none;
   box-shadow:0 0 15px rgba(0,0,0,0.3);
}
.product-image img {
   max-width:100%;
   vertical-align:middle;
}
.product-caption {
   padding:1em;
}
.product-price {
   font-size:1.2em;
}
.product-title {
   font-size:0.9em;
}





@media (max-width:500px) {
   :root {
      --header-height:2rem;
   }
}





/*PRODUCT COMPARE GALLERY*/
.product_image_wrap {
   min-height: 214px;
   display: flex;
   justify-content: flex-end;
   align-items: center;
   flex-direction: row;
   background-size: cover;
   background-position: center;
   background-attachment: inherit;
   overflow: hidden;
   
}

.product_name{
   position: relative;
   display: flex;
   flex-direction: column;
   align-items: center;

 }



